= content_for :title do
  Open Data Community · Rumi · Pykih

.container
  .row
    .col-sm-10.scroll{"data-spy"=>"scroll"}
      %h1.thin{style: "font-size: 2em;"} Our commitment to the Open Data Community
      %hr{style: "border-top: 1px solid lightgray;"}
      %p Pykih strongly believes in supporting the open data community. We believe improved access to support and contribute to the open source community in a number of ways — supplying our own code, supporting other projects by donating our software, and sponsoring Java User Groups.
      %p Below are the most popular open-source instances using Atlassian software to better manage their projects and information about our popular Atlassian Plugin Framework that is used by thousands of developers worldwide.
      %hr{style: "border-top: 1px solid lightgray;"}
      %h2.orange We want to help
      %br
      %p.lead We are looking to give away unlimited space 

    .col-sm-2
      .affix.affix-top{"data-spy"=>"scroll", "data-target"=>".scroll"}
        %br
        .list-group
          %a.list-group-item{style: "font-size: 0.9em;", :href => "#collaborate"} Collaborate
          %a.list-group-item{style: "font-size: 0.9em;", :href => "#data-sets"} Data Sets