.row
  .col-sm-8
    .panel.panel-default.sheet{"data-intro" => "See all your data sets in your current project here", "data-position" => "bottom"}
      .panel-body
        %h1.pagetitle{style: "margin-bottom: 0px;"} Roadmap of features
        %hr
        %div{style: "color: #aa9c84; margin: 5px 0px 0px 0px;"} Following features are under development.
        %hr