- if current_account.blank?
  %br
.row
  .col-sm-8
    .panel.panel-default.sheet{"data-intro" => "See all your data sets in your current project here", "data-position" => "bottom"}
      .panel-body
        %h1.pagetitle{style: "margin-bottom: 0px;"} Enterprise Security
        %hr
        %div{style: "color: #aa9c84; margin: 5px 0px 0px 0px;"} Rumi.io was designed to be an enterprise application.
        %hr
        %strong Personal Accounts
        %p On sign up, each person receives a personal account. You can invite other individuals to participate in your personal project. 
        %br
        %strong Projects
        %p Once in, you can create projects against your personal or organisation account. Your project can be either public or private.
        %br
        %strong Organisation Accounts
        %p You can also choose to create "organisation" accounts. One person can be associated with multiple organisations.
        %br
        %strong Organisation Teams
        %p You can organise your colleagues in your organisation into teams. Then associate each team with a role i.e. either owner or collaborator. Finally, you can then create private projects and lock down access to that project to certain teams.
        %br
        %strong Sensitive Data
        %p Sensitive data like passwords are encrypted when storing in the database. This way, even our team does not have access to this data.
        %br
        %strong Sessions
        %p Sessions are stored in database. Rumi tracks all actions performed per each user per session. This brings traceability. Moreover, if a user is signed into Rumi from multiple devices, then the user can log himself out of Rumi from any devices.
        %br
        %strong#apis Apps / APIs
        %p Create API tokens per user and projects. APIs are accessible via right combination of tokens, account, project, domain-name and data names. Create apps on top of Rumi.io using oAuth Authentication
        %br
        %strong#infrastructure Infrastructure
        %p We use IBM SoftLayer Enterprise Servers. All traffic is encrypted using Verisign SSL EV Certificates. Traffic to all ports into the servers are restricted via Firewall. SSH permissions are restricted to specific IPs. Database is not opened to the Internet and is accessible only internally via APIs.
        %br
        %strong#enterprise Purchase an enterprise database
        %br
        %p You can choose to store your data set in either a shared database or in a standalone private database. You can choose to encrypt your data in database. However, this will have an impact on performance.