= include_gon
.previous-sheet
  %h3= show_project_name(@core_project).html_safe
  .panel.panel-default.sheet.sub
    .panel-body
      .row
        .col-sm-12
          =simple_form_for(@data_store_pull, url:  account_core_project_data_store_pull_path(@data_store_pull.core_project.account,@data_store_pull.core_project,@data_store_pull),method: :put) do |f|
            = f.input :file_url, required: true
            %input{:checked => true, :name => "first_row_header", :type => "checkbox"}
              First Row Header
              %br
              %br
            /here the errors will be displayed
            = f.submit "Restart Pull", class: "btn btn-lg"

