- content_for :title do
  Visualization · #{@core_project.name}
/%script{:src => "/assets/vizs.js"}
.previous-sheet
  %h3=h show_project_name(@core_project)
  .panel.panel-default.sheet.sub
    .panel-body
      %h4= "<span class='mega-octicon octicon-broadcast'></span> Visualization".html_safe
      %hr
      %div{style: "color: #aa9c84; margin: 5px 0px 0px 0px;"} Datacasts are a great way to share charts or pre-defined query end-points behind a URL. Datacasts are best used to create dashboards and reports.
      .pull-right= link_to "Add new Visualization".html_safe, new_account_core_project_viz_path(@account, @core_project), class: "btn btn-orange btn-sm"
      .clearfix
      %hr
      .row
        .col-sm-12
          =render partial: "index", locals: {viz: @vizs}