@import "susy";
$susy: (
  columns: 12,
  gutters: .25,
  gutter-position: inside
);

.col-sm-1{
  @include span(1 of 12);
}
.col-sm-2{
  @include span(2 of 12);
}
.col-sm-3{
  @include span(3 of 12);
}
.col-sm-4{
  @include span(4 of 12);
}
.col-sm-5{
  @include span(5 of 12);
}
.col-sm-6{
  @include span(6 of 12);
}
.col-sm-7{
  @include span(7 of 12);
}
.col-sm-8{
  @include span(8 of 12);
}
.col-sm-9{
  @include span(9 of 12);
}
.col-sm-10{
  @include span(10 of 12);
}
.col-sm-11{
  @include span(11 of 12);
}
.col-sm-12{
  @include span(12 of 12);
}