- content_for :title do
  Events Log · #{@account.username}

.row
  .col-sm-2= render partial: "accounts/sidebar"
  .col-sm-10
    .panel.panel-default
      .panel-heading= render partial: "core/organisations/topbar"