.admin-sidebar
  .panel-group
    .panel.panel-default
      .panel-heading.panel-heading-style
        .panel-title.panel-title-style Pykih Admin Only
      .panel-body.m0p0
        %ul.nav.nav-pills.nav-stacked.sidebar-style
          %li{class: action_name == "index" ? "active" : nil}= link_to "Dashboard", core_admins_path
          %li{class: action_name == "accounts" ? "active" : nil}= link_to "Users", accounts_core_admins_path
          %li{class: action_name == "organizations" ? "active" : nil}= link_to "Organizations", organizations_core_admins_path
          %li= link_to " Workers", "/workers.engine/"