= javascript_include_tag "new_report.js"

.previous-sheet
  %h3=h show_project_name(@core_project)
  .panel.panel-default.sheet.sub
    .panel-body
      = render "form", account: @account, core_project: @core_project, impl_report: @impl_report