= include_gon
= javascript_include_tag "reports.js"

/= @impl_report.html_content.html_safe

%div
  .row
    .col-sm-12
      %p>
        The
        %b Rijksmuseum
        (
        %small Dutch pronunciation:
        <span title=\"Representation in the International Phonetic Alphabet (IPA)\">[ˈrɛi̯ksmyˌzeːjʏm]
        ; English: State Museum) is a Netherlands national museum dedicated to arts and history in Amsterdam. The museum is located at the Museum Square in the borough Amsterdam South, close to the Van Gogh Museum, the Stedelijk Museum Amsterdam, and the Concertgebouw.
      %p> The Rijksmuseum was founded in The Hague in 1800 and moved to Amsterdam in 1808, where it was first located in the Royal Palace and later in the Trippenhuis. The current main building was designed by Pierre Cuypers and first opened its doors in 1885. On 13 April 2013, after a ten-year renovation which cost € 375 million, the main building was reopened by Queen Beatrix. In 2013 and 2014, it was the most visited museum in the Netherlands with record numbers of 2.2 million and 2.45 million visitors.
      %p> The museum has on display 8,000 objects of art and history, from their total collection of 1 million objects from the years 1200–2000, among which are some masterpieces by Rembrandt, Frans Hals, and Johannes Vermeer. The museum also has a small Asian collection which is on display in the Asian pavilion.
      %p
    .col-sm-12
      %h3 Collection in Europeana
      %h2 180,602
      %p digital objects in Europeana
    .col-sm-6
      %h4 Item Types
      %p This chart displays a breakdown of the types of digital objects in this collection.
      #rijksmuseum_-_media_types.d3-pykcharts{"data-api" => "PykCharts.multiD.column", "data-datacast_identifier" => "03fee3caef7ef6b8ae8213cfb689106ac52e9d58a72bf4a9dad3db457b05255ef1", "data-filter_column_name" => "", "data-filter_present" => "false"}
    .col-sm-6
      %h4 Open for Re-Use
      %p This chart displays what percentage of the collection is open for re-use.
      #rijksmuseum_-_reusables.d3-pykcharts{"data-api" => "PykCharts.oneD.pie", "data-datacast_identifier" => "db2e4d683a57536e02c48be36daf4084a118b7a98801bfed3869d492564022cee7", "data-filter_column_name" => "", "data-filter_present" => "false"}
    .col-sm-12
      %p Use the the year filter below to filter all of the charts under it.
      %span
        Select year to view collection statistics on a per-year basis:
        %span
          %span#id_year_filters
          %h4 Views & Click-Throughs
          %p This chart displays the views of the collection on the Europeana.eu website together with the number of times a user clicked through to the website of the data provider. Click-throughs are not measured prior to April 2012. (Filter chart by year above)
          #rijksmuseum_-_traffic.d3-pykcharts{"data-api" => "PykCharts.multiD.groupedColumn", "data-datacast_identifier" => "e99610bb27ac302482aa61da1beb8ebb5c9a10ba8504d693afb8b18d9355d19415", "data-filter_column_name" => "aggregation_level_value", "data-filter_present" => "true"}

    .col-sm-12
      %h4 Line Chart for Page view
      %p This is a test visualization
      #rijksmuseum_-_line_chart.d3-pykcharts{"data-api" => "PykCharts.multiD.multiSeriesLine", "data-datacast_identifier" => "00e52fed8b2a7b81ff08972e766594b53c68ecbe86fa4969e1a26776e99e08e2ae", "data-filter_present" => "true"}
    .col-sm-12
      %h4 Top 25 Countries
      %p This chart displays the top 25 countries that generated the most views for this collection on Europeana.eu website. (Filter chart by year above and by quarter below)
      %span#id_quarter_filters
      #rijksmuseum_-_top_countries.d3-pykcharts{"data-api" => "PykCharts.maps.oneLayer", "data-datacast_identifier" => "e0520bd3323c3228f273f608b117b1bd884d0cca7466473cd872dbee20ab87977d", "data-filter_column_name" => "aggregation_level_value", "data-filter_present" => "true"}


    .col-sm-12
      %h4 Top 10 Digital Objects
      %p The list below displays the top 10 digital objects from the collection that generated the most views on Europeana.eu. (Filter list by year and quarter above)
      #rijksmuseum_-_top_digital_objects.top_digital_objects{"data-datacast_identifier" => "df08e98ce3faec1c11d99a973b5e51188146733b60d785ed3256ea897b6df4670f"}