= content_for :title do
  Publish Open Data · Rumi · Pykih

.row
  .col-sm-8.float_to_center
    %br
    %h1.pagetitle.m0p0.text-center{id: "top"} My charity wants to publish clean, open data to promote transparency
    %h3.thin.serif{style: "line-height: 1.4em;"} There is no point of publishing data in a way that others find complex to consume. Most standard data portals and data rooms are designed 