= content_for :title do
  Build Visualizations · Rumi · Pykih

.row
  .col-sm-8.float_to_center
    %br
    %h1.pagetitle.m0p0.text-center{id: "top"} We are working on a big, custom visualization project
    %br