#core_image_layout_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1","data-backdrop" => "static"}
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title
          ="#{Constants::ARTICLE_LAYOUTS_IMAGE} Panel"
          / = link_to "< back","#","data-target" => "#core_card_layout_modal", "data-toggle" => "modal", "data-dismiss"=>"modal",class: "hint"
      .modal-body
        .col-sm-2
        .col-sm-8
          = f.input :image,as: :file,label: "Import Image"
          %label{for: "image_content"} Text below the image
          %textarea#image_content.form-control{rows: 4}
          %br
          = f.submit "Create", class: "btn btn-orange card_submit_button", "data-card_type" => "image"
        .clearfix
        %br