#core_card_name_input_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1","data-backdrop" => "static"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title
          = "Extra Information"
      .modal-body
        .row
          .col-sm-6
              = f.input :name
        .clearfix
        = f.submit "Save", class: "btn btn-orange", id: 'core_card_submit_button'
        %br