%h1 Editing Article

= render 'form'

= link_to 'Show', account_core_project_article_path(@account, @core_project, @core_article)
\|
= link_to 'Back', ccount_core_project_articles_path(@account, @core_project)
